:root {
    --border-color: black;
rem + transition
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    background: lightgrey;
    padding: 20px;
}

nav a {
    margin-right: 15px;
    color: black;
}

section {
    border: 2px solid var(--border-color);
    padding: 20px;
    margin: 20px;
}

.introduction {
    background-color: #f7f7f7;
}

.products,
.info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}


article {
    border: 2px solid black;
    padding: 15px;
    margin: 10px 0;
    background-color: #f7f7f7;
    width: 220px;
}

button,
.button-link {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}

button:hover
.button-link:hover { 
    background-color: darkgreen;
}

#clear-cart {
    margin-top: 10px;
    background-color: crimson;
}

#clear-cart:hover {
    background-color: darkred;
}